USE [master]
GO
/****** Object:  Database [DbYazOkulu]    Script Date: 29.03.2025 17:18:42 ******/
CREATE DATABASE [DbYazOkulu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbYazOkulu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbYazOkulu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbYazOkulu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbYazOkulu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbYazOkulu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbYazOkulu]
GO
/****** Object:  Table [dbo].[TBLBASVURUFORM]    Script Date: 29.03.2025 17:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLBASVURUFORM](
	[BASVURUID] [int] IDENTITY(1,1) NOT NULL,
	[OGRENCIID] [int] NULL,
	[DERSID] [int] NULL,
 CONSTRAINT [PK_TBLBASVURUFORM] PRIMARY KEY CLUSTERED 
(
	[BASVURUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLDERSLER]    Script Date: 29.03.2025 17:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDERSLER](
	[DERSID] [int] IDENTITY(1,1) NOT NULL,
	[DERSAD] [varchar](50) NULL,
	[DERSMINKONT] [tinyint] NULL,
	[DERSMAKSKONT] [tinyint] NULL,
 CONSTRAINT [PK_TBLDERSLER] PRIMARY KEY CLUSTERED 
(
	[DERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLOGRENCI]    Script Date: 29.03.2025 17:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLOGRENCI](
	[OGRID] [int] IDENTITY(1,1) NOT NULL,
	[OGRAD] [varchar](50) NULL,
	[OGRSOYAD] [varchar](50) NULL,
	[OGRNUMARA] [varchar](50) NULL,
	[OGRFOTO] [varchar](500) NULL,
	[OGRSIFRE] [varchar](50) NULL,
	[OGRBAKIYE] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TLBOGRENCİ] PRIMARY KEY CLUSTERED 
(
	[OGRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLOGRETMEN]    Script Date: 29.03.2025 17:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLOGRETMEN](
	[OGRTID] [int] IDENTITY(1,1) NOT NULL,
	[OGRTADSOYAD] [varchar](50) NULL,
	[OGRTBRANS] [int] NULL,
 CONSTRAINT [PK_TBLOGRETMEN] PRIMARY KEY CLUSTERED 
(
	[OGRTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLBASVURUFORM] ON 

INSERT [dbo].[TBLBASVURUFORM] ([BASVURUID], [OGRENCIID], [DERSID]) VALUES (1, 1, 4)
INSERT [dbo].[TBLBASVURUFORM] ([BASVURUID], [OGRENCIID], [DERSID]) VALUES (2, 1, 8)
INSERT [dbo].[TBLBASVURUFORM] ([BASVURUID], [OGRENCIID], [DERSID]) VALUES (3, 1, 10)
SET IDENTITY_INSERT [dbo].[TBLBASVURUFORM] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLDERSLER] ON 

INSERT [dbo].[TBLDERSLER] ([DERSID], [DERSAD], [DERSMINKONT], [DERSMAKSKONT]) VALUES (1, N'Mühendislik Matematiği', 3, 10)
INSERT [dbo].[TBLDERSLER] ([DERSID], [DERSAD], [DERSMINKONT], [DERSMAKSKONT]) VALUES (2, N'Fizik I', 5, 15)
INSERT [dbo].[TBLDERSLER] ([DERSID], [DERSAD], [DERSMINKONT], [DERSMAKSKONT]) VALUES (3, N'Mesleki İngilizce', 5, 10)
SET IDENTITY_INSERT [dbo].[TBLDERSLER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLOGRENCI] ON 

INSERT [dbo].[TBLOGRENCI] ([OGRID], [OGRAD], [OGRSOYAD], [OGRNUMARA], [OGRFOTO], [OGRSIFRE], [OGRBAKIYE]) VALUES (1, N'Ali', N'YILDIZ', N'1245', N'örnekfoto', N'password', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[TBLOGRENCI] ([OGRID], [OGRAD], [OGRSOYAD], [OGRNUMARA], [OGRFOTO], [OGRSIFRE], [OGRBAKIYE]) VALUES (2, N'Mehmet', N'ÇINAR', N'2236', N'örnekfoto', N'password', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[TBLOGRENCI] ([OGRID], [OGRAD], [OGRSOYAD], [OGRNUMARA], [OGRFOTO], [OGRSIFRE], [OGRBAKIYE]) VALUES (3, N'Esra', N'BULUT', N'5411', N'örnekfoto', N'password', CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TBLOGRENCI] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLOGRETMEN] ON 

INSERT [dbo].[TBLOGRETMEN] ([OGRTID], [OGRTADSOYAD], [OGRTBRANS]) VALUES (1, N'Ayşe TUNALI', 2)
INSERT [dbo].[TBLOGRETMEN] ([OGRTID], [OGRTADSOYAD], [OGRTBRANS]) VALUES (2, N'Atakan Yılmaz', 5)
INSERT [dbo].[TBLOGRETMEN] ([OGRTID], [OGRTADSOYAD], [OGRTBRANS]) VALUES (3, N'Selim ÇINAR', 1)
SET IDENTITY_INSERT [dbo].[TBLOGRETMEN] OFF
GO
ALTER TABLE [dbo].[TBLOGRENCI] ADD  CONSTRAINT [DF_TLBOGRENCİ_OGRBAKIYE]  DEFAULT ((0)) FOR [OGRBAKIYE]
GO
ALTER TABLE [dbo].[TBLBASVURUFORM]  WITH CHECK ADD  CONSTRAINT [FK_TBLBASVURUFORM_TBLDERSLER] FOREIGN KEY([DERSID])
REFERENCES [dbo].[TBLDERSLER] ([DERSID])
GO
ALTER TABLE [dbo].[TBLBASVURUFORM] CHECK CONSTRAINT [FK_TBLBASVURUFORM_TBLDERSLER]
GO
ALTER TABLE [dbo].[TBLBASVURUFORM]  WITH CHECK ADD  CONSTRAINT [FK_TBLBASVURUFORM_TLBOGRENCİ] FOREIGN KEY([OGRENCIID])
REFERENCES [dbo].[TBLOGRENCI] ([OGRID])
GO
ALTER TABLE [dbo].[TBLBASVURUFORM] CHECK CONSTRAINT [FK_TBLBASVURUFORM_TLBOGRENCİ]
GO
ALTER TABLE [dbo].[TBLOGRETMEN]  WITH CHECK ADD  CONSTRAINT [FK_TBLOGRETMEN_TBLDERSLER] FOREIGN KEY([OGRTBRANS])
REFERENCES [dbo].[TBLDERSLER] ([DERSID])
GO
ALTER TABLE [dbo].[TBLOGRETMEN] CHECK CONSTRAINT [FK_TBLOGRETMEN_TBLDERSLER]
GO
USE [master]
GO
